doctype html
html
  head
    title Product Gallery
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="stylesheets/all.css")
  body
    .header
      h1
        a.logo(href="index.html") Comicomic

    .container

      .page-header

        .page-title
          h3 My Hexschool
          i.fas.fa-caret-right

        .page-select
          select
            option(value="1") Chapter 1
            option(value="2") Chapter 2
          select
            option(value="1") Page 01
            option(value="2") Page 02
            option(value="3") Page 03
            option(value="4") Page 04
            option(value="5") Page 05
            option(value="6") Page 06
            option(value="7") Page 07
            option(value="8") Page 08

        .page-switch
          i.fas.fa-sun
          .switch
          i.far.fa-moon

      .page-content
        .page-img
          img(src="images/storyboard-1.png", alt="")
        .page-prev
          i.fas.fa-angle-left
        .page-next
          i.fas.fa-angle-right

      .page-footer

        .chapter-btn
          .chapter-prev
          .chapter-next

        .thumbnails-slider
          ul.thumbnails-items
            li.thumbnails-item
              a(href="#")
                span.num 01
                img.thumbnails-img(src="images/storyboard-1.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 02
                img.thumbnails-img(src="images/storyboard-2.png", alt="")
            li.thumbnails-item.active
              a(href="#")
                span.num 03
                img.thumbnails-img(src="images/storyboard-3.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 04
                img.thumbnails-img(src="images/storyboard-4.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 05
                img.thumbnails-img(src="images/storyboard-5.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 06
                img.thumbnails-img(src="images/storyboard-6.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 07
                img.thumbnails-img(src="images/storyboard-7.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 08
                img.thumbnails-img(src="images/storyboard-8.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 09
                img.thumbnails-img(src="images/storyboard-8.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 10
                img.thumbnails-img(src="images/storyboard-8.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 11
                img.thumbnails-img(src="images/storyboard-8.png", alt="")
            li.thumbnails-item
              a(href="#")
                span.num 12
                img.thumbnails-img(src="images/storyboard-8.png", alt="")
    
    script(src="javascripts/vendor.js")
    script(src="javascripts/all.js")